@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html data-ng-app="Flashato">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flashato</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
</head>
<body data-ng-controller="landing as main">
    @*<div>LOGO HERE</div>
    <div id="nav-bar">
        <ul>
            <li>@Html.ActionLink("New Card", "Add", "Flashcards")</li>
            <li>@Html.ActionLink("View All", "All", "Flashcards")</li>
            <li>@Html.ActionLink("Study", "Study", "Flashcards")</li>
        </ul>
    </div>*@

    <div id="landing-container">
        <div class="landing-content">
            <h1>Flashato</h1>
            <h2>Where idiots become geniuses</h2>
            <a href="" class="btn btn-primary">Get Started</a>
        </div>
    </div>

    <div id="bar1">
        <div class="bar1-container1">Pitch 1</div>
        <div class="bar1-container2">Pitch 2</div>
        <div class="bar1-container3">Pitch 3</div>
    </div>

    <div class="divider">
        <h1>Now anyone can outsmart Einstein</h1>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

</body>
</html>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module('Flashato',[]).controller('landing', LandingController);

            LandingController.$inject = ['$scope'];

            function LandingController($scope) {
                var vm = this;
                vm.$scope = $scope;
            }
        })();

    </script>




