<!DOCTYPE html>
<html data-ng-app="Flashato">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flashato</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Flashato", "Add", "Flashcards", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("New Card", "Add", "Flashcards")</li>
                    <li>@Html.ActionLink("View All", "All", "Flashcards")</li>
                    <li>@Html.ActionLink("Study", "Study", "Flashcards")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Flashato</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @*<script src="~/Scripts/angular.min.js"></script>*@
    @RenderSection("pageInitScripts", required: false)
    @RenderSection("scripts", required: false)
    @*<script>
        (function () {
            var myApp = angular.module("Flashato", []);
            myApp.controller('flashatoController', FlashatoController);
            FlashatoController.$inject=['$scope'];
            function FlashatoController($scope) {
                
            }
        })();
    </script>*@
</body>
</html>
